<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACTIVITY_RECOGNITION" />


    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MySports"
        tools:targetApi="31">
        <activity
            android:name=".activities.log_in_page_activity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".activities.register_page_activity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".activities.settingsscreen_activity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".activities.workout_activity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".activities.workout_ende_activity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".activities.gamescreen_activity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".activities.activityscreen_activity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".activities.homescreen_activity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".activities.homescreen_popup_schub_activity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".activities.statistik_activity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".activities.website_activity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".activities.clear_activity"
            android:screenOrientation="portrait"></activity>
    </application>

</manifest>